* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
    font-family:'Roboto 'sans-serif;
    flex-grow: 1;
}

.hero {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    padding: 5px 160px 90px 160px;
    /* background-color: #1F2937; */
  
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 24px;

    
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

li > a {
    text-decoration: none;
    /* list-style-type: none; */
    color:#E5E7EB ;
    font-size: 18PX;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.part-2 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 30px;
   
}

.web-title {
    width: 400px;
    min-height: 230px;
    padding: 5px;

}

.web-title h3 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.web-title p {
    color: #F9FAF8;
}

.web-title > button {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 6px 12px 6px 12px;
    margin-top: 20px;
    color: #F9FAF8;
    outline-style: none;
    cursor: pointer;
    border-color: none;

}

button {
    outline: none;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    min-height: 230px;
    background-color: hsl(0, 2%, 84%);
    padding: 5px;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.section-2 {
    display: flex;
    margin: 0;
    padding: 40px;
    gap: 20px;
}

.potrait {
   flex-wrap: wrap;
   /* text-align: center; */
   max-width: 150px;
   /* border: 1px solid black; */
   
} 

img {

    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;

}

.container-2 > h3{
    font-size:36px;
    padding: 30px 0 0 0;
    color: #1F2937;
    font-weight: 900;
}

.text {
    padding: 5px;
    font-size: 15px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    padding: 0 60px 0px 60px;
  
}

.message {
    padding: 16px;
    font-size: 32px;
    color: #1F2937;
    font-weight: 300px;
    line-height: .9;
    font-style: italic;
    width: 600px;
}

 cite {
    font-weight: 900;
    position: relative;
    bottom: 0;
    left: 12%;

}

.call-2-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* padding: 30px; */
   
}

.text-y {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 100px;
    background-color: #3882F6;
    padding: 5px 40px ;
    border-radius: 5px;
    color:#F9FAF8;
}

.text-y button{
    padding: 5px 10px;
    background-color: #3882F6;
    border-radius: 8px;
    color:#F9FAF8;
    border-color: #F9FAF8;
    border-style: solid;
    cursor: pointer;

}

.footer {
    display: flex;
   justify-content: center;
   align-items: center;
    background-color: #1F2937;
    height: 70px;
    color:#F9FAF8;
  
}


